<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WebApplication1" Language="1033" Version="1.0.0.0" Manufacturer="mrojas" UpgradeCode="f382313d-e29c-4b29-a572-286357158903">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    
    <Feature Id="ProductFeature" Title="WebApplicationAndIISInstallerSample" Level="1">
 
      <ComponentGroupRef Id="MyWebWebComponents" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
  </Product>

  <Fragment>

    <Icon Id="WebApplicationIcon" SourceFile="SomeIcon.ico"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WebApplication1" />
      </Directory>


      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WebApplication1" />

      </Directory>
      <!--
      <Directory Id="DesktopFolder" Name="Desktop"/>-->

    </Directory>
  </Fragment>

  <Fragment>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationProgramsMenuShortcut" Guid="{9EBAFBB6-0CD3-4DCB-9905-CB8BDEA279B9}">

        <Shortcut Id="APPNAME_ProgramsMenuShortcut"
            Name="WebApplication1"
            Description="Description Of WebApplication1"
            Target="[INSTALLFOLDER]WebApplication1.IISExpressBootStrapper.exe"
            WorkingDirectory="INSTALLFOLDER" Icon="WebApplicationIcon"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\mrojas\WebApplication1\ProgramsMenuShortcut"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>

      </Component>

    </DirectoryRef>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{6F44232F-1C0B-4278-AB2B-BFD34FAE863C}">
        <File Id="WebApplication1.IISExpressBootStrapper" Source="..\WebApplication1.IISExpressBootStrapper\bin\Release\WebApplication1.IISExpressBootStrapper.exe" />
      </Component>
      <ComponentRef Id="ApplicationProgramsMenuShortcut"/>
    </ComponentGroup>
  </Fragment>
</Wix>